---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: UTF-8
      string: '{"subject":"Testing","body":"Testing"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-AppVersion:
      - '9.7'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '55'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"_links":{"topic":["blank"]}}}'
  recorded_at: Wed, 04 Sep 2013 23:57:05 GMT
recorded_with: VCR 2.5.0
