---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: UTF-8
      string: '{"subject":"Testing","body":"Testing"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 422 Unprocessable Entity
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '7'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"_links":{"topic":["blank"]}}}'
  recorded_at: Thu, 12 Dec 2013 19:21:53 GMT
recorded_with: VCR 2.5.0
