---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a09a6b296a96a4910aef5b6ad49dd28a"'
      Status:
      - 200 OK
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '46'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: '{"total_entries":1,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"subject":"asdf","body":"<div>\r\n<div
        class=\"lc\">\r\n<p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text
        of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s
        standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not
        only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>\r\n</div>\r\n\r\n<div
        class=\"rc\">\r\n<h2 class=\"why\">&nbsp;</h2>\r\n\r\n<p>It is a long established
        fact that a reader will be distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using &#39;Content here, content
        here&#39;, making it look like readable English. Many desktop publishing packages
        and web page editors now use Lorem Ipsum as their default model text, and
   [...]
