---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"My new topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"bab2dddbec638f47dbb9481cc01e4659"'
      Location:
      - https://devel.desk.com/api/v2/topics/558244
      Status:
      - 201 Created
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '42'
      X-Rate-Limit-Reset:
      - '26'
    body:
      encoding: UTF-8
      string: '{"name":"My new topic","description":null,"position":4,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-19T23:51:34Z","updated_at":"2013-08-19T23:51:34Z","_links":{"self":{"href":"/api/v2/topics/558244","class":"topic"},"articles":{"href":"/api/v2/topics/558244/articles","class":"article"},"translations":{"href":"/api/v2/topics/558244/translations","class":"topic_translation"}}}'
  recorded_at: Mon, 19 Aug 2013 23:51:34 GMT
recorded_with: VCR 2.5.0
