---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles/search?text=Lorem+Ipsum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"498b2a1a02496207b3b2c1f524be8349"'
      status:
      - 200 OK
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"total_entries":0,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[]}}'
  recorded_at: Thu, 12 Dec 2013 18:57:00 GMT
recorded_with: VCR 2.5.0
