---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases/3065
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"92c7be66720ffca1abd8bc26f860b333"'
      status:
      - 200 OK
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '58'
    body:
      encoding: UTF-8
      string: '{"external_id":null,"subject":"Testing the Tank again","priority":5,"locked_until":null,"description":null,"status":"open","type":"email","labels":[],"language":"de","active_at":"2013-05-13T19:20:59Z","created_at":"2013-05-13T18:13:39Z","updated_at":"2013-09-10T21:34:42Z","received_at":null,"first_opened_at":null,"opened_at":null,"first_resolved_at":null,"resolved_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null,"follow_up":null,"dependent":null},"_links":{"self":{"href":"/api/v2/cases/3065","class":"case"},"message":{"href":"/api/v2/cases/3065/message","class":"email"},"customer":{"href":"/api/v2/customers/86101780","class":"customer"},"assigned_user":null,"assigned_group":null,"locked_by":null,"replies":{"href":"/api/v2/cases/3065/replies","class":"reply"},"notes":{"href":"/api/v2/cases/3065/notes","class":"note"},"attachments":{"href":"/api/v2/cases/3065/attachments","class":"attachment"}}}'
  recorded_at: Thu, 12 Dec 2013 18:57:02 GMT
recorded_with: VCR 2.5.0
