---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles/search?text=Lorem+Ipsum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"498b2a1a02496207b3b2c1f524be8349"'
      Status:
      - 200 OK
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '45'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: '{"total_entries":0,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=30","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[]}}'
  recorded_at: Thu, 15 Aug 2013 21:20:33 GMT
recorded_with: VCR 2.5.0
