---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"85679637b1f51371fae7ebf91b707573"'
      status:
      - 200 OK
      x-appversion:
      - '11.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '31'
    body:
      encoding: UTF-8
      string: '{"total_entries":1,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"subject":"Testing","body":"<table><tr><td>Testing</td></tr></table>","body_email":"Testing","body_email_auto":true,"body_chat":"Testing","body_chat_auto":true,"body_web_callback":"<table><tr><td>Testing</td></tr></table>","body_web_callback_auto":true,"body_twitter":"Testing","body_twitter_auto":true,"body_qna":"Testing","body_qna_auto":true,"body_phone":"Testing","body_phone_auto":true,"body_facebook":"Testing","body_facebook_auto":true,"keywords":"","position":1,"quickcode":null,"in_support_center":false,"internal_notes":"","publish_at":"2013-09-11T19:13:21Z","created_at":"2013-09-11T19:11:48Z","updated_at":"2013-09-11T19:13:21Z","_links":{"self":{"href":"/api/v2/articles/1295677","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1295677/translations","class":"article_translation"}}}]}}'
  recorded_at: Thu, 10 Oct 2013 21:34:29 GMT
recorded_with: VCR 2.5.0
