---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles/1295677
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"93fc2ca7fb9e35fa06739e5a3d31bf67"'
      status:
      - 200 OK
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '51'
    body:
      encoding: UTF-8
      string: '{"subject":"Lecteur {Continuer ancien}","body":"Bonjour {{customer.first_name}},&nbsp;<br
        /> <br /> Merci de nous avoir &eacute;crit. Vous pouvez continuer &agrave;
        utiliser toutes les versions du Lecteur Square pour accepter des paiements.
        Les lecteurs pr&eacute;c&eacute;dents ne comportent aucun d&eacute;faut de
        conception. Vous pouvez aussi commander gratuitement un nouveau lecteur depuis
        le tableau de bord Square en ligne.&nbsp;<br /> <br /> Pour cela, connectez-vous
        &agrave; votre tableau de bord &agrave; l&rsquo;adresse www.squareup.com/dashboard
        et cliquez sur &laquo;&nbsp;Obtenir un lecteur de carte&nbsp;&raquo; dans
        le menu d&eacute;roulant situ&eacute; dans le coin sup&eacute;rieur droit
        de la page.<br /> <br /> N&rsquo;h&eacute;sitez pas &agrave; me contacter
        pour toute question suppl&eacute;mentaire. Je suis l&agrave; pour vous aider.","body_email":"Testing","body_email_auto":true,"body_chat":"Testing","body_chat_auto":true,"body_web_callback":"<table><tr><td>Testing</td></tr></table>","body_web_callback_auto":true,"body_twitter":"Testing","body_twitter_auto":true,"body_qna":"Testing","body_qna_auto":true,"body_phone":"Testing","body_phone_auto":true,"body_facebook":"Testing","body_facebook_auto":true,"rating":0,"rating_count":0,"rating_score":0,"keywords":"","position":1,"quickcode":null,"in_support_center":false,"internal_notes":null,"publish_at":"2013-09-11T19:13:21Z","created_at":"2013-09-11T19:11:48Z","updated_at":"2013-09-11T19:13:21Z","_links":{"self":{"href":"/api/v2/articles/1295677","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1295677/translations","class":"article_translation"},"created_by":{"href":"/api/v2/users/16096734","class":"user"},"updated_by":{"href":"/api/v2/users/16096734","class":"user"}}}'
  recorded_at: Thu, 12 Dec 2013 19:33:09 GMT
recorded_with: VCR 2.5.0
