---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"49308def7f597974a093f90ab1e0ce2b"'
      Status:
      - 200 OK
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '55'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: '{"total_entries":3,"_links":{"self":{"href":"/api/v2/topics?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/topics?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/topics?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"name":"Testing
        English","description":"Another description update.","position":1,"allow_questions":true,"in_support_center":true,"created_at":"2013-04-22T23:46:42Z","updated_at":"2013-08-16T17:15:34Z","_links":{"self":{"href":"/api/v2/topics/498301","class":"topic"},"articles":{"href":"/api/v2/topics/498301/articles","class":"article"},"translations":{"href":"/api/v2/topics/498301/translations","class":"topic_translation"}}},{"name":"Test
        Updated Topic","description":null,"position":2,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-14T19:37:08Z","updated_at":"2013-08-15T21:26:17Z","_links":{"self":{"href":"/api/v2/topics/556402","class":"topic"},"articles":{"href":"/api/v2/topics/556402/articles","class":"article"},"translations":{"href":"/api/v2/topics/556402/translations","class":"topic_translation"}}},{"name":"My
        new topic","description":null,"position":3,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-15T21:20:32Z","updated_at":"2013-08-15T21:25:38Z","_links":{"self":{"href":"/api/v2/topics/556908","class":"topic"},"articles":{"href":"/api/v2/topics/556908/articles","class":"article"},"translations":{"href":"/api/v2/topics/556908/translations","class":"topic_translation"}}}]}}'
  recorded_at: Mon, 19 Aug 2013 23:51:33 GMT
- request:
    method: post
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: UTF-8
      string: '{"subject":"My subject","body":"Some text for this new article","_links":{"topic":{"href":"/api/v2/topics/498301","class":"topic"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"501b810ab743b2e5d279f981c9aafab8"'
      Location:
      - https://devel.desk.com/api/v2/articles/1268788
      Status:
      - 201 Created
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '54'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: '{"subject":"My subject","body":"Some text for this new article","body_email":"Some
        text for this new article","body_email_auto":true,"body_chat":"Some text for
        this new article","body_chat_auto":true,"body_web_callback":"Some text for
        this new article","body_web_callback_auto":true,"body_twitter":"Some text
        for this new article","body_twitter_auto":true,"body_qna":"Some text for this
        new article","body_qna_auto":true,"body_phone":"Some text for this new article","body_phone_auto":true,"body_facebook":"Some
        text for this new article","body_facebook_auto":true,"keywords":null,"position":2,"quickcode":null,"in_support_center":null,"internal_notes":null,"publish_at":null,"created_at":"2013-08-19T23:51:33Z","updated_at":"2013-08-19T23:51:33Z","_links":{"self":{"href":"/api/v2/articles/1268788","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1268788/translations","class":"article_translation"}}}'
  recorded_at: Mon, 19 Aug 2013 23:51:33 GMT
- request:
    method: delete
    uri: https://devel.desk.com/api/v2/articles/1268788
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      Status:
      - 204 No Content
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '53'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Aug 2013 23:51:33 GMT
recorded_with: VCR 2.5.0
