---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"My new topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c0bf83a9a262a8d228d6fe2561304ffa"'
      Location:
      - https://devel.desk.com/api/v2/topics/556908
      Status:
      - 201 Created
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '49'
      X-Rate-Limit-Reset:
      - '28'
    body:
      encoding: UTF-8
      string: '{"name":"My new topic","description":null,"position":5,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-15T21:20:32Z","updated_at":"2013-08-15T21:20:32Z","_links":{"self":{"href":"/api/v2/topics/556908","class":"topic"},"articles":{"href":"/api/v2/topics/556908/articles","class":"article"},"translations":{"href":"/api/v2/topics/556908/translations","class":"topic_translation"}}}'
  recorded_at: Thu, 15 Aug 2013 21:20:32 GMT
recorded_with: VCR 2.5.0
