---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8c7275dcd0ce0766813feabe96b8216a"'
      status:
      - 200 OK
      x-appversion:
      - '11.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '44'
    body:
      encoding: UTF-8
      string: '{"total_entries":339,"_links":{"self":{"href":"/api/v2/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/cases?page=7&per_page=50","class":"page"},"previous":null,"next":{"href":"/api/v2/cases?page=2&per_page=50","class":"page"}},"_embedded":{"entries":[{"external_id":null,"subject":"","priority":9,"locked_until":null,"description":"","status":"open","type":"phone","labels":[],"language":"en","active_at":"2013-09-07T19:38:58Z","created_at":"2013-05-09T17:02:16Z","updated_at":"2013-09-07T19:39:07Z","received_at":"2013-05-09T17:02:16Z","custom_fields":{"my_new_custom_field":"","my_new_number_field":"0","my_new_date_field":"","my_new_boolean_field":"0","my_new_list_field":"Option
        1","follow_up":null},"_links":{"self":{"href":"/api/v2/cases/3011","class":"case"},"message":{"href":"/api/v2/cases/3011/message","class":"phone"},"customer":{"href":"/api/v2/customers/37823480","class":"customer"},"assigned_user":{"href":"/api/v2/users/16096734","class":"user"},"assigned_group":{"href":"/api/v2/groups/171213","class":"group"},"locked_by":null,"replies":{"href":"/api/v2/cases/3011/replies","class":"reply"},"notes":{"href":"/api/v2/cases/3011/notes","class":"note"},"attachments":{"href":"/api/v2/cases/3011/attachments","class":"attachment"}}},{"external_id":null,"subject":"","priority":4,"locked_until":null,"description":null,"status":"pending","type":"email","labels":[],"language":"en","active_at":"2013-05-10T18:55:10Z","created_at":"2013-05-09T18:38:17Z","updated_at":"2013-08-05T18:45:21Z","received_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null,"follow_up":n[...]
