---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles/1391017
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"aa367323d958696d4588ca265bd79359"'
      status:
      - 200 OK
      x-appversion:
      - '15.4'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '40'
    body:
      encoding: UTF-8
      string: '{"subject":"Testing OAuth","body":"OAuth testing","body_email":"OAuth
        testing","body_email_auto":true,"body_chat":"OAuth testing","body_chat_auto":true,"body_web_callback":"OAuth
        testing","body_web_callback_auto":true,"body_twitter":"OAuth testing","body_twitter_auto":true,"body_qna":"OAuth
        testing","body_qna_auto":true,"body_phone":"OAuth testing","body_phone_auto":true,"body_facebook":"OAuth
        testing","body_facebook_auto":true,"rating":0,"rating_count":0,"rating_score":0,"keywords":null,"position":4,"quickcode":null,"in_support_center":null,"internal_notes":null,"publish_at":null,"created_at":"2013-12-12T02:55:05Z","updated_at":"2013-12-12T02:55:05Z","_links":{"self":{"href":"/api/v2/articles/1391017","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1391017/translations","class":"article_translation"},"created_by":{"href":"/api/v2/users/16096734","class":"user"},"updated_by":{"href":"/api/v2/users/16096734","class":"user"}}}'
  recorded_at: Thu, 12 Dec 2013 03:00:20 GMT
recorded_with: VCR 2.5.0
