---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: UTF-8
      string: '{"subject":"Testing OAuth","body":"OAuth testing","_links":{"topic":{"href":"/api/v2/topics/498301"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"2559b1e5a8ab953a72d4927d7cb2a272"'
      Location:
      - https://devel.desk.com/api/v2/articles/1285155
      Status:
      - 201 Created
      X-AppVersion:
      - '9.3'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '13'
    body:
      encoding: UTF-8
      string: '{"subject":"Testing OAuth","body":"OAuth testing","body_email":"OAuth
        testing","body_email_auto":true,"body_chat":"OAuth testing","body_chat_auto":true,"body_web_callback":"OAuth
        testing","body_web_callback_auto":true,"body_twitter":"OAuth testing","body_twitter_auto":true,"body_qna":"OAuth
        testing","body_qna_auto":true,"body_phone":"OAuth testing","body_phone_auto":true,"body_facebook":"OAuth
        testing","body_facebook_auto":true,"keywords":null,"position":2,"quickcode":null,"in_support_center":null,"internal_notes":null,"publish_at":null,"created_at":"2013-09-03T02:21:47Z","updated_at":"2013-09-03T02:21:47Z","_links":{"self":{"href":"/api/v2/articles/1285155","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1285155/translations","class":"article_translation"}}}'
  recorded_at: Tue, 03 Sep 2013 02:21:47 GMT
recorded_with: VCR 2.5.0
