---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases/3014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"395a414452c959227f314140cc36e470"'
      status:
      - 200 OK
      x-appversion:
      - '15.4'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '56'
    body:
      encoding: UTF-8
      string: '{"external_id":"","subject":"Testing Quick Case","priority":8,"locked_until":null,"description":"Some
        additional Description regarding this email.","status":"resolved","type":"email","labels":[],"language":"de","active_at":"2013-05-10T19:08:27Z","created_at":"2013-05-10T19:08:10Z","updated_at":"2013-09-10T21:34:34Z","received_at":null,"first_opened_at":null,"opened_at":null,"first_resolved_at":"2013-05-10T19:08:10Z","resolved_at":"2013-05-10T19:08:10Z","custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null,"follow_up":null,"dependent":null},"_links":{"self":{"href":"/api/v2/cases/3014","class":"case"},"message":{"href":"/api/v2/cases/3014/message","class":"email"},"customer":{"href":"/api/v2/customers/37823480","class":"customer"},"assigned_user":null,"assigned_group":null,"locked_by":null,"replies":{"href":"/api/v2/cases/3014/replies","class":"reply"},"notes":{"href":"/api/v2/cases/3014/notes","class":"note"},"attachments":{"href":"/api/v2/cases/3014/attachments","class":"attachment"}}}'
  recorded_at: Thu, 12 Dec 2013 02:55:04 GMT
recorded_with: VCR 2.5.0
