---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: UTF-8
      string: '{"subject":"Testing","body":"Testing"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '34'
      X-Rate-Limit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"_links":{"topic":["blank"]}}}'
  recorded_at: Mon, 19 Aug 2013 23:51:35 GMT
recorded_with: VCR 2.5.0
