---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/brands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b0a50fad6c5e92c4555e5db9ffe04cc6"'
      status:
      - 200 OK
      x-appversion:
      - '11.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '35'
    body:
      encoding: UTF-8
      string: '{"total_entries":2,"_links":{"self":{"href":"/api/v2/brands?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/brands?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/brands?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"name":"DEVEL","created_at":"2013-10-10T21:17:46Z","updated_at":"2013-10-10T21:17:46Z","_links":{"self":{"href":"/api/v2/brands/1061","class":"brand"}}},{"name":"Second
        Brand","created_at":"2013-10-10T21:17:46Z","updated_at":"2013-10-10T21:17:46Z","_links":{"self":{"href":"/api/v2/brands/1062","class":"brand"}}}]}}'
  recorded_at: Thu, 10 Oct 2013 21:35:25 GMT
recorded_with: VCR 2.5.0
