---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"38d7713aeec7a1f4bb22ca44b2e427c6"
      status:
      - 200 OK
      x-appversion:
      - '15.3259'
      x-rate-limit-limit:
      - '1000'
      x-rate-limit-remaining:
      - '999'
      x-rate-limit-reset:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"total_entries":48,"page":1,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":1295677,"locale":null,"subject":"Testing","body":"<table><tr><td>Testing</td></tr></table>","body_email":"Testing","body_email_auto":true,"body_chat":"Testing","body_chat_auto":true,"body_web_callback":"<table><tr><td>Testing</td></tr></table>","body_web_callback_auto":true,"body_twitter":"Testing","body_twitter_auto":true,"body_qna":"Testing","body_qna_auto":true,"body_phone":"Testing","body_phone_auto":true,"body_facebook":"Testing","body_facebook_auto":true,"rating":0,"rating_count":0,"rating_score":0,"keywords":"","position":1,"quickcode":null,"publish_at":"2013-09-11T19:13:21Z","updated_at":"2013-09-11T19:13:21Z","created_at":"2013-09-11T19:11:48Z","in_support_center":false,"internal_notes":"","public_url":"http://devel.desk.com/customer/portal/articles/1295677-testing","_links":{"self":{"href":"/api/v2/articles/1295677","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1295677/translations","class":"article_translation"},"attachments":{"href":"/api/v2/articles/1295677/attachments","class":"attachment","count":0},"created_by":{"href":"/api/v2/users/16096734","class":"user"},"updated_by":{"href":"/api/v2/users/16096734","class":"user"}}},{"id":1348945,"locale":null,"subject":"Testing","body":"<img
        alt=\"\" src=\"/customer/portal/attachments/209748\" style=\"width: 1440px;
        height: 900px;\" />","body_email":"","body_email_auto":true,"body_chat":"","body_chat_auto":true,"body_web_callback":"<img
        alt=\"\" src=\"/customer/portal/attachments/209748\" style=\"width: 1440px;
        height: 900px;\" />","body_web_callback_auto":true,"body_twitter":"","body_twitter_auto":true,"body_qna":"","body_qna_auto":true,"body_phone":"","body_phone_auto":true,"body_facebook":"","body_facebook_auto":true,"rating":89,"rating_count":9,"rating_score":8,"keywords":"new
        keyword",[...]
