---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"My new topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"26848664a35b2523eb6f170735e81932"'
      location:
      - https://devel.desk.com/api/v2/topics/601361
      status:
      - 201 Created
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '54'
    body:
      encoding: UTF-8
      string: '{"name":"My new topic","description":null,"position":7,"allow_questions":true,"in_support_center":null,"created_at":"2013-12-12T19:45:06Z","updated_at":"2013-12-12T19:45:06Z","_links":{"self":{"href":"/api/v2/topics/601361","class":"topic"},"articles":{"href":"/api/v2/topics/601361/articles","class":"article"},"translations":{"href":"/api/v2/topics/601361/translations","class":"topic_translation"}}}'
  recorded_at: Thu, 12 Dec 2013 19:45:06 GMT
recorded_with: VCR 2.5.0
