---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"accc5dfb08395bc92ba17cf0e80cd8c3"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '179'
      x-rate-limit-reset:
      - '30'
    body:
      encoding: UTF-8
      string: '{"total_entries":386,"page":1,"_links":{"self":{"href":"/api/v2/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/cases?page=8&per_page=50","class":"page"},"previous":null,"next":{"href":"/api/v2/cases?page=2&per_page=50","class":"page"}},"_embedded":{"entries":[{"id":3012,"external_id":null,"blurb":null,"subject":"Re:
        ","priority":4,"locked_until":null,"description":"","status":"pending","type":"email","labels":["client_spam","client_test"],"label_ids":[1789189,1789190],"language":"en","active_at":"2014-05-19T19:47:48Z","created_at":"2013-05-09T18:38:17Z","updated_at":"2014-05-19T19:48:04Z","received_at":null,"first_opened_at":"2013-05-09T18:38:17Z","opened_at":"2013-05-09T18:38:17Z","first_resolved_at":null,"resolved_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":"0","my_new_date_field":null,"my_new_boolean_field":false,"my_new_list_field":"Option
        1","follow_up":null,"dependent":"Support::Testing"},"_links":{"self":{"href":"/api/v2/cases/3012","class":"case"},"message":{"href":"/api/v2/cases/3012/message","class":"email"},"customer":{"href":"/api/v2/customers/176573942","class":"customer"},"labels":{"href":"/api/v2/cases/3012/labels","class":"label"},"assigned_user":null,"assigned_group":null,"locked_by":null,"history":{"href":"/api/v2/cases/3012/history","class":"history"},"case_links":{"href":"/api/v2/cases/3012/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/3012/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/3012/replies","class":"reply","count":1},"draft":{"href":"/api/v2/cases/3012/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/3012/notes","class":"note","count":0},"attachments":{"href":"/api/v2/cases/3012/attachments","class":"attachment","count":0}}},{"id":3013,"external_id":null,"blurb":null,"subject":"","priority":4,"locked_until":null,"description":"","status":"open","type":"email","labels":[],"label_ids":[],"language":"en","active_at":"2013-05-10T18:28:14Z","created_at":"2013-05-09T21:50:06Z","updated_at":"2013-05-10T18:28:11Z","received_at":null,"first_opened_at":"2013-05-09T21:50:07Z","opened_at":"2013-05-09T21:50:07Z","first_resolved_at":null,"resolved_at":null[...]
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"accc5dfb08395bc92ba17cf0e80cd8c3"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '178'
      x-r[...]
[...]
