---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases/3065
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"cbba64bc7fe9b35611cc745f75671fb6"'
      Status:
      - 200 OK
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '29'
    body:
      encoding: UTF-8
      string: '{"external_id":null,"subject":"Testing the Tank again","priority":5,"locked_until":null,"description":null,"status":"open","type":"email","labels":[],"language":"de","active_at":"2013-05-13T19:20:59Z","created_at":"2013-05-13T18:13:39Z","updated_at":"2013-05-13T18:13:39Z","received_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null},"_links":{"self":{"href":"/api/v2/cases/3065","class":"case"},"message":{"href":"/api/v2/cases/3065/message","class":"email"},"customer":{"href":"/api/v2/customers/86101780","class":"customer"},"assigned_user":null,"assigned_group":null,"locked_by":null,"replies":{"href":"/api/v2/cases/3065/replies","class":"reply"},"notes":{"href":"/api/v2/cases/3065/notes","class":"note"},"attachments":{"href":"/api/v2/cases/3065/attachments","class":"attachment"}}}'
  recorded_at: Mon, 19 Aug 2013 23:51:31 GMT
recorded_with: VCR 2.5.0
