---
http_interactions:
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/articles/1285134
    body:
      encoding: UTF-8
      string: '{"subject":"Testing Updated OAuth"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1fd66bbba076c29ce1c35f0a3252ea63"'
      Status:
      - 200 OK
      X-AppVersion:
      - '9.3'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '41'
    body:
      encoding: UTF-8
      string: '{"subject":"Testing Updated OAuth","body":"Some Body","body_email":"Some
        Body","body_email_auto":true,"body_chat":"Some Body","body_chat_auto":true,"body_web_callback":"Some
        Body","body_web_callback_auto":true,"body_twitter":"Some Body","body_twitter_auto":true,"body_qna":"Some
        Body","body_qna_auto":true,"body_phone":"Some Body","body_phone_auto":true,"body_facebook":"Some
        Body","body_facebook_auto":true,"keywords":null,"position":2,"quickcode":null,"in_support_center":null,"internal_notes":null,"publish_at":null,"created_at":"2013-09-03T01:31:09Z","updated_at":"2013-09-03T02:20:19Z","_links":{"self":{"href":"/api/v2/articles/1285134","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1285134/translations","class":"article_translation"}}}'
  recorded_at: Tue, 03 Sep 2013 02:20:19 GMT
recorded_with: VCR 2.5.0
