---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases?embed=customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7701698ec27b7eef3564f88746c49348"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '179'
      x-rate-limit-reset:
      - '33'
    body:
      encoding: UTF-8
      string: '{"total_entries":386,"page":1,"_links":{"self":{"href":"/api/v2/cases?embed=customer&page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/cases?embed=customer&page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/cases?embed=customer&page=8&per_page=50","class":"page"},"previous":null,"next":{"href":"/api/v2/cases?embed=customer&page=2&per_page=50","class":"page"}},"_embedded":{"entries":[{"id":3012,"external_id":null,"blurb":null,"subject":"","priority":4,"locked_until":null,"description":null,"status":"pending","type":"email","labels":[],"label_ids":[],"language":"en","active_at":"2013-05-10T18:55:10Z","created_at":"2013-05-09T18:38:17Z","updated_at":"2013-08-05T18:45:21Z","received_at":null,"first_opened_at":"2013-05-09T18:38:17Z","opened_at":"2013-05-09T18:38:17Z","first_resolved_at":null,"resolved_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null,"follow_up":null,"dependent":null},"_links":{"self":{"href":"/api/v2/cases/3012","class":"case"},"message":{"href":"/api/v2/cases/3012/message","class":"email"},"customer":{"href":"/api/v2/customers/176573942","class":"customer"},"labels":{"href":"/api/v2/cases/3012/labels","class":"label"},"assigned_user":null,"assigned_group":null,"locked_by":null,"history":{"href":"/api/v2/cases/3012/history","class":"history"},"case_links":{"href":"/api/v2/cases/3012/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/3012/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/3012/replies","class":"reply","count":0},"draft":{"href":"/api/v2/cases/3012/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/3012/notes","class":"note","count":0},"attachments":{"href":"/api/v2/cases/3012/attachments","class":"attachment","count":0}},"_embedded":{"customer":{"id":176573942,"first_name":"Thomas","last_name":"Stachl","company":"stachl.me","title":"Master
        of Script Artistry","avatar":"https://graph.facebook.com/1107078380/picture?type=square","external_id":null,"background":"Some
        Background information.","language":"en_us","locked_until":null,"created_at":"2014-04-14T19:40:43Z","updated_at":"2014-04-14T19:42:20Z","custom_fields":{"my_custom_field":null,"my_number_field":"0","my_boolean_field":null,"my_date_field":null,"my_list_field":"Option
        1","magento_id":null},"emails":[{"type":"home","value":"tstachl@salesforce.com"},{"type":"home","value":"thomas@stachl.me"}],"phone_numbers":[{"type":"mobile","value":"4156060761"}],"addresses":[{"type":"home","value":"600
        William Street #526\r\nOakland, CA 94612"}],"_links":{"self":{"href":"/api/v2/customers/176573942","class":"customer"},"locked_by":{"href":null,"class":"site"},"company":{"href":"/api/v2/companies/373760","class":"company"},"facebook_user":{"href":"/api/v2/facebook_users/1885471","class":"facebook_user"},"twitter_user":null,"cases":{"href":"/api/v2/customers/176573942/cases","class":"case","count":0}}}}},{"id":3013,"external_id":null,"blurb":null,"subject":"","priority":4,"locked_until":null,"description":"","status":"open","type":"email","labels":[],"label_ids":[],"language":"en","active_at":"2013-05-10T18:28:14Z","created_at":"2013-05-09T21:50:06Z","updated_at":"2013-05-10T18:28:11Z","received_at":null,"first_opened_at":"2013-05-09T21:50:07Z","opened_at":"2013-05-09T21:50:07Z","first_resolved_at":null,"resolved_at":null,[...]
