---
http_interactions:
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/topics/556402
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"00b667764701df60d557676ad7c34b48"'
      Status:
      - 200 OK
      X-AppVersion:
      - '9.3'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '56'
      X-Rate-Limit-Reset:
      - '28'
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic","description":null,"position":2,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-14T19:37:08Z","updated_at":"2013-08-19T23:53:31Z","_links":{"self":{"href":"/api/v2/topics/556402","class":"topic"},"articles":{"href":"/api/v2/topics/556402/articles","class":"article"},"translations":{"href":"/api/v2/topics/556402/translations","class":"topic_translation"}}}'
  recorded_at: Tue, 03 Sep 2013 02:04:32 GMT
recorded_with: VCR 2.5.0
