---
http_interactions:
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/topics/601117
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"64b59205930afcb1a489c61fabd574d6"'
      status:
      - 200 OK
      x-appversion:
      - '15.4'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '2'
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic","description":null,"position":7,"allow_questions":true,"in_support_center":null,"created_at":"2013-12-12T02:55:04Z","updated_at":"2013-12-12T02:58:58Z","_links":{"self":{"href":"/api/v2/topics/601117","class":"topic"},"articles":{"href":"/api/v2/topics/601117/articles","class":"article"},"translations":{"href":"/api/v2/topics/601117/translations","class":"topic_translation"}}}'
  recorded_at: Thu, 12 Dec 2013 02:58:58 GMT
recorded_with: VCR 2.5.0
