---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c6eef667a6ffdaf9b6735ce798958e01"'
      location:
      - https://devel.desk.com/api/v2/topics/601117
      status:
      - 201 Created
      x-appversion:
      - '15.4'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '56'
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic","description":null,"position":7,"allow_questions":true,"in_support_center":null,"created_at":"2013-12-12T02:55:04Z","updated_at":"2013-12-12T02:55:04Z","_links":{"self":{"href":"/api/v2/topics/601117","class":"topic"},"articles":{"href":"/api/v2/topics/601117/articles","class":"article"},"translations":{"href":"/api/v2/topics/601117/translations","class":"topic_translation"}}}'
  recorded_at: Thu, 12 Dec 2013 02:55:04 GMT
recorded_with: VCR 2.5.0
