---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"94aa10fb0bdaf6f3b7f7d3fe3d8eecb6"'
      Location:
      - https://devel.desk.com/api/v2/topics/563658
      Status:
      - 201 Created
      X-AppVersion:
      - '9.3'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '57'
      X-Rate-Limit-Reset:
      - '28'
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic","description":null,"position":5,"allow_questions":true,"in_support_center":null,"created_at":"2013-09-03T02:04:32Z","updated_at":"2013-09-03T02:04:32Z","_links":{"self":{"href":"/api/v2/topics/563658","class":"topic"},"articles":{"href":"/api/v2/topics/563658/articles","class":"article"},"translations":{"href":"/api/v2/topics/563658/translations","class":"topic_translation"}}}'
  recorded_at: Tue, 03 Sep 2013 02:04:32 GMT
recorded_with: VCR 2.5.0
