---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1daa08a60cce691df71fcac04dedee89"'
      status:
      - 200 OK
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '55'
      x-rate-limit-reset:
      - '1'
    body:
      encoding: UTF-8
      string: '{"total_entries":3,"_links":{"self":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/articles?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"subject":"Testing","body":"<table><tr><td>Testing</td></tr></table>","body_email":"Testing","body_email_auto":true,"body_chat":"Testing","body_chat_auto":true,"body_web_callback":"<table><tr><td>Testing</td></tr></table>","body_web_callback_auto":true,"body_twitter":"Testing","body_twitter_auto":true,"body_qna":"Testing","body_qna_auto":true,"body_phone":"Testing","body_phone_auto":true,"body_facebook":"Testing","body_facebook_auto":true,"rating":0,"rating_count":0,"rating_score":0,"keywords":"","position":1,"quickcode":null,"in_support_center":false,"internal_notes":"","publish_at":"2013-09-11T19:13:21Z","created_at":"2013-09-11T19:11:48Z","updated_at":"2013-09-11T19:13:21Z","_links":{"self":{"href":"/api/v2/articles/1295677","class":"article"},"topic":{"href":"/api/v2/topics/498301","class":"topic"},"translations":{"href":"/api/v2/articles/1295677/translations","class":"article_translation"},"created_by":{"href":"/api/v2/users/16096734","class":"user"},"updated_by":{"href":"/api/v2/users/16096734","class":"user"}}},{"subject":"Testing","body":"<img
        alt=\"\" src=\"/customer/portal/attachments/209748\" style=\"width: 1440px;
        height: 900px;\" />","body_email":"","body_email_auto":true,"body_chat":"","body_chat_auto":true,"body_web_callback":"<img
        alt=\"\" src=\"/customer/portal/attachments/209748\" style=\"width: 1440px;
        height: 900px;\" />","body_web_callback_auto":true,"body_twitter":"","body_twitter_auto":true,"body_qna":"","body_qna_auto":true,"body_phone":"","body_phone_auto":true,"body_facebook":"","body_facebook_auto":true,"rating":0,"rating_count":0,"rating_score":0,"keywords":"","position":2,"quickc[...]
