---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ccbd2e483bd8e68c537cf8906bf9e834"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '120'
      x-rate-limit-remaining:
      - '118'
      x-rate-limit-reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{"total_entries":226,"page":1,"_links":{"self":{"href":"/api/v2/customers?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/customers?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/customers?page=5&per_page=50","class":"page"},"previous":null,"next":{"href":"/api/v2/customers?page=2&per_page=50","class":"page"}},"_embedded":{"entries":[{"id":34290812,"first_name":"Alex","last_name":"Bard","company":"Desk.com","title":"CEO","external_id":null,"background":"Wowing
        customer","language":null,"locked_until":null,"created_at":"2012-06-06T14:51:30Z","updated_at":"2014-03-24T02:47:01Z","custom_fields":{"my_custom_field":null,"my_number_field":"0","my_boolean_field":false,"my_date_field":null,"my_list_field":"Option
        1","magento_id":null},"emails":[{"type":"work","value":"support@desk.com"}],"phone_numbers":[],"addresses":[],"_links":{"self":{"href":"/api/v2/customers/34290812","class":"customer"},"locked_by":null,"company":{"href":"/api/v2/companies/138963","class":"company"},"facebook_user":null,"twitter_user":{"href":"/api/v2/twitter_users/2887203","class":"twitter_user"},"cases":{"href":"/api/v2/customers/34290812/cases","class":"case","count":147}}},{"id":34292086,"first_name":"Stella","last_name":"Pavlova","company":"Morpon
        Brothers","title":"SVP Production","external_id":null,"background":"","language":null,"locked_until":null,"created_at":"2012-06-06T15:01:44Z","updated_at":"2012-12-07T23:56:00Z","custom_fields":{"my_custom_field":null,"my_number_field":null,"my_boolean_field":null,"my_date_field":null,"my_list_field":null,"magento_id":null},"emails":[],"phone_numbers":[],"addresses":[],"_links":{"self":{"href":"/api/v2/cu[...]
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/customers/34290812
    body:
      encoding: UTF-8
      string: '{"phone_numbers_update_action":"append","phone_numbers":[{"type":"home","value":"(415)
        555-1234"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"db3913ce36d05fac369ae70f5581a794"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '120'
      x-rate-limit-remaining:
      - '117'
      x-rate-limit-reset:
      - '24'
    body:
      encoding: UTF-8
      string: '{"id":34290812,"first_name":"Alex","last_name":"Bard","company":"Desk.com","title":"CEO","external_id":null,"background":"Wowing
        customer","language":null,"locked_until":null,"created_at":"2012-06-06T14:51:30Z","updated_at":"2014-04-08T19:06:35Z","custom_fields":{"my_custom_field":null,"my_number_field":"0","my_boolean_field":false,"my_date_field":null,"my_list_field":"Option
        1","magento_id":null},"emails":[{"type":"work","value":"support@desk.com"}],"phone_numbers":[{"type":"home","value":"(415)
        555-1234"}],"addresses":[],"_links":{"self":{"href":"/api/v2/customers/34290812","class":"customer"},"locked_by":null,"company":{"href":"/api/v2/companies/138963","class":"company"},"facebook_user":null,"twitter_user":{"href":"/api/v2/twitter_users/2887203","class":"twitter_user"},"cases":{"href":"/api/v2/customers/34290812/cases","class":"case","count":147}}}'
  recorded_at: Tue, 08 Apr 2014 19:06:36 GMT
[...]
