---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/cases/3186
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3b403b9148d9f982752106c400dc9880"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '240'
      x-rate-limit-remaining:
      - '239'
      x-rate-limit-reset:
      - '20'
    body:
      encoding: UTF-8
      string: '{"id":3186,"external_id":null,"blurb":"Soluta et odit nisi. Repellat
        qui unde quo et. Quo laudantium ex dolor mollitia omnis molestias. Praesentium
        quasi earum nulla.\n\nUt unde excepturi est. Recusandae qui labore id. Doloribus
        et voluptatem qui. Asperiores ut sed totam eveniet voluptatem.","subject":"Quas
        iste rerum eos et eius.","priority":10,"locked_until":null,"description":"Soluta
        et odit nisi. Repellat qui unde quo et. Quo laudantium ex dolor mollitia omnis
        molestias. Praesentium quasi earum nulla.\r\n\r\nUt unde excepturi est. Recusandae
        qui labore id. Doloribus et voluptatem qui. Asperiores ut sed totam eveniet
        voluptatem.\r\n\r","status":"open","type":"email","labels":[],"label_ids":[],"language":null,"active_at":"2014-07-09T21:42:15Z","changed_at":"2014-07-09T21:42:19Z","created_at":"2013-05-23T17:47:51Z","updated_at":"2014-07-09T21:42:21Z","received_at":"2013-08-02T21:38:12Z","first_opened_at":null,"opened_at":null,"first_resolved_at":null,"resolved_at":null,"custom_fields":{"my_new_custom_field":null,"my_new_number_field":null,"my_new_date_field":null,"my_new_boolean_field":null,"my_new_list_field":null,"follow_up":null,"dependent":null},"_links":{"self":{"href":"/api/v2/cases/3186","class":"case"},"message":{"href":"/api/v2/cases/3186/message","class":"email"},"customer":{"href":"/api/v2/customers/105408563","class":"customer"},"labels":{"href":"/api/v2/cases/3186/labels","class":"label"},"assigned_user":null,"assigned_group":{"href":"/api/v2/groups/171213","class":"group"},"locked_by":null,"history":{"href":"/api/v2/cases/3186/history","class":"history"},"case_links":{"href":"/api/v2/cases/3186/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/3186/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/3186/replies","class":"reply","count":1},"draft":{"href":"/api/v2/cases/3186/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/3186/notes","class":"note","count":1},"attachments":{"href":"/api/v2/cases/3186/attachments","class":"attachment","count":0}}}'
  recorded_at: Wed, 09 Jul 2014 21:42:40 GMT
[...]
- request:
    method: get
    uri: https://devel.desk.com/api/v2/users/16096734
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3c793d278a94ceebca11b4019e63f2c8"'
      status:
      - 200 OK
      x-appversion:
      - '15.99'
      x-rate-limit-limit:
      - '240'
      x-rate-limit-remaining:
      - '237'
      x-rate-limit-reset:
      - '19'
    body:
      encoding: UTF-8
      string: '{"id":16096734,"name":"Thomas Stachl","public_name":"Thomas Stachl","email":"tstachl@salesforce.com","level":"siteadmin_billing","avatar":"http://www.gravatar.com/avatar/9d1a9e1a385960d1ba80fb873128cf73?rating=PG&size=50&default=404","created_at":"2012-06-06T14:51:21Z","updated_at":"2014-07-09T21:25:45Z","current_login_at":"2014-07-09T16:25:20Z","last_login_at":"2014-06-20T20:35:58Z","_links":{"self":{"href":"/api/v2/users/16096734","class":"user"},"preferences":{"href":"/api/v2/users/16096734/preferences","class":"user_preference"},"searches":{"href":"/api/v2/users/16096734/searches","class":"search"},"groups":{"href":"/api/v2/users/16096734/groups","class":"group"},"macros":{"href":"/api/v2/users/16096734/macros","class":"macro"},"filters":{"href":"/api/v2/users/16096734/filters","class":"filter"},"integration_urls":{"href":"/api/v2/users/16096734/integration_urls","class":"integration_url"}}}'
  recorded_at: Wed, 09 Jul 2014 21:42:41 GMT
[...]
