---
http_interactions:
- request:
    method: get
    uri: https://devel.desk.com/api/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1386874620"'
      status:
      - 200 OK
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '50'
    body:
      encoding: UTF-8
      string: '{"total_entries":6,"_links":{"self":{"href":"/api/v2/users?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/users?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/users?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"name":"Thomas
        Stachl","public_name":"Thomas Stachl","email":"tstachl@salesforce.com","level":"siteadmin_billing","avatar":"http://www.gravatar.com/avatar/9d1a9e1a385960d1ba80fb873128cf73?rating=PG&size=50&default=https%3A%2F%2Fd218iqt4mo6adh.cloudfront.net%2Fassets%2Funknown_user_50-521aae04e00222d7dd814e72d7d869d0.png","created_at":"2012-06-06T14:51:21Z","updated_at":"2013-12-11T18:08:41Z","current_login_at":"2013-12-11T18:08:41Z","last_login_at":"2013-12-11T00:50:06Z","_links":{"self":{"href":"/api/v2/users/16096734","class":"user"},"preferences":{"href":"/api/v2/users/16096734/preferences","class":"user_preference"},"searches":{"href":"/api/v2/users/16096734/searches","class":"search"}}},{"name":"Dan
        Stern","public_name":"Dan","email":"dan@desk.com","level":"siteadmin","avatar":"http://www.gravatar.com/avatar/5f56818e857c5776e02779aa2a4f8ea4?rating=PG&size=50&default=https%3A%2F%2Fd218iqt4mo6adh.cloudfront.net%2Fassets%2Funknown_user_50-521aae04e00222d7dd814e72d7d869d0.png","created_at":"2012-06-06T18:24:08Z","updated_at":"2013-08-05T22:33:48Z","current_login_at":"2013-08-05T22:33:48Z","last_login_at":"2013-08[...]
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/users/16096734
    body:
      encoding: UTF-8
      string: '{"name":"Some User"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 405 Method Not Allowed
      x-appversion:
      - '15.6'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '56'
      x-rate-limit-reset:
      - '50'
    body:
      encoding: UTF-8
      string: '{"message":"Method Not Allowed"}'
  recorded_at: Thu, 12 Dec 2013 19:48:10 GMT
recorded_with: VCR 2.5.0
