---
http_interactions:
- request:
    method: post
    uri: https://devel.desk.com/api/v2/topics
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3c4f0bfe1c766352a73767947ef10d16"'
      Location:
      - https://devel.desk.com/api/v2/topics/556907
      Status:
      - 201 Created
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '57'
      X-Rate-Limit-Reset:
      - '29'
    body:
      encoding: UTF-8
      string: '{"name":"Test Topic","description":null,"position":4,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-15T21:20:31Z","updated_at":"2013-08-15T21:20:31Z","_links":{"self":{"href":"/api/v2/topics/556907","class":"topic"},"articles":{"href":"/api/v2/topics/556907/articles","class":"article"},"translations":{"href":"/api/v2/topics/556907/translations","class":"topic_translation"}}}'
  recorded_at: Thu, 15 Aug 2013 21:20:31 GMT
recorded_with: VCR 2.5.0
