---
http_interactions:
- request:
    method: patch
    uri: https://devel.desk.com/api/v2/topics/556402
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"02ad91e6c4bff038228c0649f84e02f2"'
      Status:
      - 200 OK
      X-AppVersion:
      - '7.9'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '37'
      X-Rate-Limit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{"name":"Test Updated Topic","description":null,"position":2,"allow_questions":true,"in_support_center":null,"created_at":"2013-08-14T19:37:08Z","updated_at":"2013-08-15T21:26:17Z","_links":{"self":{"href":"/api/v2/topics/556402","class":"topic"},"articles":{"href":"/api/v2/topics/556402/articles","class":"article"},"translations":{"href":"/api/v2/topics/556402/translations","class":"topic_translation"}}}'
  recorded_at: Mon, 19 Aug 2013 23:51:35 GMT
recorded_with: VCR 2.5.0
